#title{
    margin-left: 45%;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    width: 100%;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .example-element-diagram >mat-form-field{
      width: 25%;
      margin-left: 5%;
  }
  .example-element-diagram >button {
    width: 25%;

    margin-left: 5%;

  }
  .inputForm{
      width: 25%;
      margin-left: 5%;
  }
  #create{
     margin-left: 5%; 
  }
  .mat-panel-title{
      font-weight: bold;
  }

  